@use "../../../../assets/styles/" as *;

.CreateMarker {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;

  input {
    width: 60%;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0, 0.221);
    border-radius: 8px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .create_button {
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    transition: ease all 0.5s;
    background-color: $extended;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .create_button:hover {
    background-color: $primaryHover;
    color: $secondary;
  }
}
