@use "../../assets/styles/" as *;

.PublicPageLayout {
  display: flex;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  .children_container {
    max-width: 1720px;
    width: 100%;
  }
}
